@each $stt, $bg-color in (1, #3c4c5c) (2, #5e5e5e) (3, #14409a) (4, #c0bab5) (5, #5c5c5c) (6, #33569c) {
    #img-#{$stt} {
        background: linear-gradient(#bbbdc0, $color-grey, $color-grey);
    }
    .vehicle-product:hover > #img-#{$stt} {
        background: linear-gradient($bg-color, $color-grey, $color-grey);
    }
    .delay-#{$stt} {
        animation-delay: 0.2s * $stt;
    }
}
@for $stt from 1 through 4 {
    #swiper-slider {
        .slide-#{$stt} {
            background: url("../img/banner-#{$stt}.jpg");
            background-size: cover;
            background-position: center center;
            @media screen and (max-width: 768px) {
                background: url("../img/banner-#{$stt}-xs.jpg");
                background-size: cover;
                background-position: unset;
            }
            @media screen and (max-width: 576px) {
                background: url("../img/banner-#{$stt}-xs.jpg");
                background-size: cover;
                background-position: center center;
            }
        }
    }
}
@for $stt from 1 through 5 {
    .carousel-inner {
        .item-#{$stt} {
            background: url("../img/slider-#{$stt}.jpg");
            background-size: cover;
            background-position: center center;
            @media screen and (max-width: 768px) {
                background: url("../img/slider-#{$stt}-xs.jpg");
                background-size: cover;
                background-position: unset;
            }
            @media screen and (max-width: 576px) {
                background: url("../img/slider-#{$stt}-xs.jpg");
                background-size: cover;
                background-position: center center;
            }
        }
    }
}

@each $id in (1, 2, 3, 4) {
    .services-item-#{$id} {
        background-image: url(../img/item-#{$id}.jpg);
        background-position: center 0;
        background-size: cover;
        height: 300px;
        position: relative;
        box-shadow: $box-shadow-1;
        transition: all 0.5s;
        background-repeat: no-repeat;
        &:hover {
            transform: translateY(-15px);
        }
    }
}

@each $id in (1, 2, 3, 4, 5) {
    .discover-items-#{$id} {
        background-image: url(../img/discover-#{$id}.jpg);
        height: 450px;
        background-position: center -40px;
        position: relative;
        box-shadow: $box-shadow-1;
        margin-bottom: $mg-5;
        background-color: $color-white;
        background-repeat: no-repeat;
    }
}
