#navbar {
    a {
        @media screen and (max-width: 992px) {
            padding: $pd-2 $pd-2;
        }
    }
    .nav-item .nav-link {
        @media screen and (max-width: 992px) {
            padding: $pd-2 $pd-2;
        }
    }
    a:first-child {
        @media screen and (max-width: 992px) {
            padding: 0;
        }
    }
}
#search-area {
    @media screen and(max-width: 992px) {
        padding: $pd-2 $pd-1;
    }
    input {
        @media screen and(max-width: 992px) {
            width: 80%;
        }
    }
}
#swiper-slider {
    @media screen and (max-width: 992px) {
        height: 600px;
        margin-top: $mg-4;
    }
    .swiper-container {
        @media screen and (max-width: 992px) {
            height: 400px;
        }
        .swiper-wrapper {
            @media screen and (max-width: 992px) {
                height: 70%;
            }
        }
    }
}
.intro {
    .intro-container {
        .intro-right {
            @media screen and (max-width: 992px) {
                background-image: url(../img/intro-2-xs.jpg);
            }
            .intro-right-content {
                @media screen and (max-width: 992px) {
                    width: 90%;
                    left: 80%;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    #our-vehicles {
        .carousel-caption-config {
            width: 35%;
            margin: auto;
            left: 7%;
            right: 20%;
            text-align: left;
            bottom: unset;
            top: 10%;
            font-size: $font-size-1 - 0.2;
            .carousel-caption-detail {
                .carousel-detail-content {
                    h2 {
                        font-size: $font-size-3;
                    }
                    p {
                        font-size: $font-size-1;
                    }
                }
            }
        }
        .carousel-caption-footer {
            width: 50%;
            border: none;
            bottom: 2%;
            justify-content: center !important;
        }
        .carousel-indicators-config {
            width: 100% !important;
        }
    }
    .carousel-control-prev {
        left: 0rem;
        i {
            font-size: $font-size-3;
            padding: $pd-2;
        }
    }
    .carousel-control-next {
        right: 0rem;
    }
    #our-vehicles {
        h1 {
            font-size: $font-size-5;
        }
        .carousel-indicators-xs {
            position: absolute;
            top: 0;
            left: 20%;
            z-index: 9;
        }
        .carousel-inner {
            margin-top: 0;
        }
    }
}
