body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

.carousel {
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev {
  left: -1.5rem;
}

.carousel-control-next {
  right: -1.5rem;
}

.img-fluid {
  width: 100% !important;
}

.btn-explore,
.btn-build {
  background-color: #fff;
  border: 2px solid #2b99d9;
  color: #007cc0;
  padding: 3px 45px;
  border-radius: 40px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.btn-explore:hover,
.btn-build:hover {
  background-color: #2b99d9;
  border-color: #2b99d9;
  color: #fff;
}

.btn-vehicle {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 5px;
}

.btn-vehicle:hover {
  background-color: #fff;
  color: #007cc3;
}

.btn-vehicle-active {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #fff;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-vehicle-active:hover {
  background-color: #2198dc;
  color: #fff;
}

.btn-search {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: transparent;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: -20px;
}

.btn-search:hover {
  background-color: #2198dc;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .btn-search {
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 6px 15px;
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 0;
    border-radius: 5px;
  }
  .btn-search:hover {
    background-color: #fff;
    color: #2198dc;
  }
}

.btn-carousel {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-carousel:hover {
  background-color: #fff;
  color: #ff4040;
}

.btn-go {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-go:hover {
  background-color: transparent;
  color: #007cc3;
}

.btn-build {
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-build:hover {
  background-color: transparent;
  color: #007cc3;
}

.btn-caption {
  padding: 6px 30px;
}

@media screen and (max-width: 576px) {
  .btn-caption {
    font-size: 1.2rem;
    padding: 6px 20px;
  }
}

.play-button {
  color: #00446b;
  font-size: 2.8rem;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  outline: none i;
  outline-transform: translateX(3px);
}

.play-button:hover {
  background-color: #007cc0;
}

.play-button:hover i {
  color: #fff;
}

.btn-orange {
  background-color: #ff4040;
  border: 2px solid #fff;
  color: #fff;
  padding: 6px 30px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-orange:hover {
  background-color: #fff;
  border-color: #fff;
  color: #ff4040;
}

.back-to-top {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #007cc0;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  line-height: 50px;
  border-radius: 10px 0 0 10px;
  position: fixed;
  right: 0;
  bottom: 50px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.back-to-top:hover {
  color: #fff;
}

.footer-search-field {
  width: 30%;
  border: 0.15rem solid #eaeaea;
  padding: 6px 30px;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #007cc0;
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.footer-search-field input {
  border: none;
  width: 80%;
}

.footer-search-field input::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-weight: 500;
  color: #007cc0;
}

.footer-search-field input:-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: 500;
  color: #007cc0;
}

.footer-search-field input::-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: 500;
  color: #007cc0;
}

.footer-search-field input::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
  color: #007cc0;
}

.footer-search-field input:focus {
  outline: none;
}

#img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehicle-product:hover > #img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3c4c5c), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#3c4c5c, #f5f5f5, #f5f5f5);
}

.delay-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehicle-product:hover > #img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5e5e5e, #f5f5f5, #f5f5f5);
}

.delay-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehicle-product:hover > #img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#14409a), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#14409a, #f5f5f5, #f5f5f5);
}

.delay-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehicle-product:hover > #img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#c0bab5), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#c0bab5, #f5f5f5, #f5f5f5);
}

.delay-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehicle-product:hover > #img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5c5c5c, #f5f5f5, #f5f5f5);
}

.delay-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehicle-product:hover > #img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#33569c), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#33569c, #f5f5f5, #f5f5f5);
}

.delay-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#swiper-slider .slide-1 {
  background: url("../img/banner-1.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  #swiper-slider .slide-1 {
    background: url("../img/banner-1-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  #swiper-slider .slide-1 {
    background: url("../img/banner-1-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#swiper-slider .slide-2 {
  background: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  #swiper-slider .slide-2 {
    background: url("../img/banner-2-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  #swiper-slider .slide-2 {
    background: url("../img/banner-2-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#swiper-slider .slide-3 {
  background: url("../img/banner-3.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  #swiper-slider .slide-3 {
    background: url("../img/banner-3-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  #swiper-slider .slide-3 {
    background: url("../img/banner-3-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#swiper-slider .slide-4 {
  background: url("../img/banner-4.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  #swiper-slider .slide-4 {
    background: url("../img/banner-4-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  #swiper-slider .slide-4 {
    background: url("../img/banner-4-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.carousel-inner .item-1 {
  background: url("../img/slider-1.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .carousel-inner .item-1 {
    background: url("../img/slider-1-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner .item-1 {
    background: url("../img/slider-1-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.carousel-inner .item-2 {
  background: url("../img/slider-2.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .carousel-inner .item-2 {
    background: url("../img/slider-2-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner .item-2 {
    background: url("../img/slider-2-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.carousel-inner .item-3 {
  background: url("../img/slider-3.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .carousel-inner .item-3 {
    background: url("../img/slider-3-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner .item-3 {
    background: url("../img/slider-3-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.carousel-inner .item-4 {
  background: url("../img/slider-4.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .carousel-inner .item-4 {
    background: url("../img/slider-4-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner .item-4 {
    background: url("../img/slider-4-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.carousel-inner .item-5 {
  background: url("../img/slider-5.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .carousel-inner .item-5 {
    background: url("../img/slider-5-xs.jpg");
    background-size: cover;
    background-position: unset;
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner .item-5 {
    background: url("../img/slider-5-xs.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.services-item-1 {
  background-image: url(../img/item-1.jpg);
  background-position: center 0;
  background-size: cover;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.services-item-1:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.services-item-2 {
  background-image: url(../img/item-2.jpg);
  background-position: center 0;
  background-size: cover;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.services-item-2:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.services-item-3 {
  background-image: url(../img/item-3.jpg);
  background-position: center 0;
  background-size: cover;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.services-item-3:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.services-item-4 {
  background-image: url(../img/item-4.jpg);
  background-position: center 0;
  background-size: cover;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.services-item-4:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.discover-items-1 {
  background-image: url(../img/discover-1.jpg);
  height: 450px;
  background-position: center -40px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 60px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.discover-items-2 {
  background-image: url(../img/discover-2.jpg);
  height: 450px;
  background-position: center -40px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 60px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.discover-items-3 {
  background-image: url(../img/discover-3.jpg);
  height: 450px;
  background-position: center -40px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 60px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.discover-items-4 {
  background-image: url(../img/discover-4.jpg);
  height: 450px;
  background-position: center -40px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 60px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.discover-items-5 {
  background-image: url(../img/discover-5.jpg);
  height: 450px;
  background-position: center -40px;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 60px;
  background-color: #fff;
  background-repeat: no-repeat;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0;
}

.navbar {
  padding: 0;
}

#navbar {
  background-color: #007cc3;
}

#navbar a {
  color: #fff;
  padding: 20px 25px;
  border-left: 1px solid #4f91ca;
  border-right: 1px solid #4f91ca;
  font-size: 1.4rem;
}

#navbar a:hover {
  text-decoration: none;
}

#navbar .nav-item .nav-link {
  padding: 20px 25px;
}

#navbar a:first-child {
  padding: 0 25px;
}

#navbar .discover-menu {
  left: unset;
  right: -30%;
  width: 40rem;
  padding: 25px;
  -webkit-box-shadow: 1px 20px 70px -10px rgba(59, 59, 59, 0.63);
          box-shadow: 1px 20px 70px -10px rgba(59, 59, 59, 0.63);
  border: none;
}

#navbar .discover-menu::before {
  content: "";
  border-bottom: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: -15px;
  left: unset;
  right: 15%;
}

#navbar .discover-menu .dropdown-item:hover {
  background: transparent;
}

#navbar .discover-menu .dropdown-menu-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .discover-menu .dropdown-menu-detail > div {
  width: 50%;
}

#navbar .discover-menu .dropdown-menu-detail h3 {
  margin-bottom: 20px;
  color: #00324f;
  font-weight: bold;
}

#navbar .discover-menu .dropdown-menu-detail .dropdown-detail-right {
  padding-left: 20px;
}

#navbar .discover-menu .dropdown-menu-detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar .discover-menu .dropdown-menu-detail ul li {
  margin-bottom: 15px;
}

#navbar .discover-menu .dropdown-menu-detail ul li a {
  color: #2198dc;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 1.4rem;
}

#navbar .discover-menu .dropdown-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

#navbar .discover-menu .dropdown-menu-social i {
  width: 30px;
  height: 30px;
  background-color: #007cc3;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  line-height: 30px;
}

.no-border {
  border: 0 !important;
}

#navbar > .active {
  color: #2198dc !important;
  background-color: #fff !important;
}

.container--config {
  padding: 0 10%;
}

#vehicles {
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles #vehicle-content {
  position: relative;
}

#vehicles #vehicle-content .vehicle-nav {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

#vehicles #vehicle-content .vehicle-nav ul {
  list-style: none;
  margin: 0;
}

#vehicles #vehicle-content .vehicle-nav ul li {
  display: inline;
}

#vehicles #vehicle-content .vehicle-nav ul li a {
  padding: 6px 25px;
  font-weight: bold;
  color: #00324f;
  border-right: 0.15rem solid #eaeaea;
  font-size: 1.4rem;
}

#vehicles #vehicle-content .vehicle-nav ul li a:hover {
  color: #2198dc;
  text-decoration: none;
}

#vehicles #vehicle-content .vehicle-nav ul li.active a {
  color: #2198dc;
  text-decoration: underline;
}

#vehicles #vehicle-list {
  background-color: #f5f5f5;
  padding: 50px;
  padding-bottom: 100px;
  max-height: 700px;
}

#vehicles #vehicle-list .vehicle-title h1 {
  background-color: #f5f5f5;
  position: relative;
  top: -2.7rem;
  padding: 0 6px;
  color: #00324f;
  font-weight: bold;
  font-size: 2.4rem;
}

#vehicles #vehicle-list .vehicle-title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles #vehicle-list .vehicle-title h1 span {
  font-weight: normal;
}

#vehicles #vehicle-list .vehicle-product {
  color: #00324f;
  margin-bottom: 30px;
}

#vehicles #vehicle-list .vehicle-product:hover > .vehicle-img img:first-child {
  display: none;
}

#vehicles #vehicle-list .vehicle-product:hover > .vehicle-img img:last-child {
  display: block;
}

#vehicles #vehicle-list .vehicle-product .vehicle-img img:last-child {
  display: none;
}

#vehicles #vehicle-list .vehicle-product h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#vehicles #vehicle-list .vehicle-product .vehicle-info {
  margin-bottom: 20px;
}

#vehicles #vehicle-list .vehicle-product .vehicle-info h3 {
  font-weight: normal;
  font-size: 2.4rem;
}

#vehicles #vehicle-list .vehicle-product .vehicle-info p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

#vehicles #vehicle-close {
  background-color: #f5f5f5;
  width: 60px;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  left: 90%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  color: #007cc3;
}

#vehicles #vehicle-close:hover > .vehicle-circle {
  border: 1px solid #00446a;
}

#vehicles #vehicle-close:hover {
  color: #00446a;
}

#vehicles #vehicle-close .vehicle-circle {
  width: 25px;
  height: 25px;
  border: 1px solid #007cc3;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

#vehicles #vehicle-close .vehicle-circle i {
  font-size: 1.4rem;
  line-height: 25px;
}

#vehicles #vehicle-close p {
  font-size: 1.4rem;
  font-weight: bold;
}

.hide-vehicle {
  display: none;
}

.show-vehicle {
  display: block;
}

#search-area {
  background-color: #f5f5f5;
  padding: 6px 50px;
  position: relative;
}

#search-area i {
  color: #2198dc;
  font-size: 1.8rem;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#search-area input {
  width: 87%;
  height: 4.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 300;
  font-size: 2.4rem;
  color: #2198dc;
}

#search-area input::-webkit-input-placeholder {
  font-size: 2.4rem;
}

#search-area input:-ms-input-placeholder {
  font-size: 2.4rem;
}

#search-area input::-ms-input-placeholder {
  font-size: 2.4rem;
}

#search-area input::placeholder {
  font-size: 2.4rem;
}

#search-area::before {
  content: "";
  border-bottom: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: -15px;
  left: unset;
  right: 1%;
  border-bottom-color: #f5f5f5;
}

#services {
  padding: 5% 10%;
}

#services .service-item {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10%;
}

#services .service-item p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00446b;
  margin-bottom: 60px;
}

#guide {
  padding: 50px 10% 5%;
  color: #fff;
  text-align: center;
}

#guide .guide-left {
  position: relative;
  background-image: url(../img/intro-3.jpg);
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#guide .guide-right {
  position: relative;
  background-image: url(../img/intro-4.jpg);
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#guide .guide-left-content,
#guide .guide-right-content {
  width: 60%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#guide .guide-left-content p,
#guide .guide-right-content p {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
}

#guide .guide-left-content h3,
#guide .guide-right-content h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
}

#guide .guide-left-content .btn-go:hover,
#guide .guide-right-content .btn-go:hover {
  background-color: transparent;
}

#discover {
  padding: 0 10% 5%;
}

#discover .discover-text h1 {
  font-size: 5.5rem;
  font-weight: 300;
  color: #00446b;
  padding-bottom: 50px;
  margin-bottom: 0;
}

#discover .discover-text p {
  font-size: 1.4rem;
  margin-bottom: 60px;
}

#discover .discover-content .discover-item-inner {
  position: absolute;
  top: 47%;
  text-align: center;
  padding: 0 10%;
}

#discover .discover-content .discover-item-inner h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #00446b;
  margin-bottom: 5px;
}

#discover .discover-content .discover-item-inner p {
  color: #00324f;
  font-size: 1.4rem;
  margin-bottom: 45px;
}

#discover .discover-content .btn-go {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#discover .discover-content .play-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15%;
}

#discover .discover-content .btn-orange {
  font-size: 1.4rem;
}

#discover .discover-content .btn-orange:hover {
  border-color: #ff4040;
}

#footer {
  background-color: #fff;
}

#footer .space {
  height: 60px;
}

#footer .footer-logo {
  text-align: center;
  border-top: 5px solid #007cc0;
  border-bottom: 1px solid #dedede;
  margin: 0 45px;
}

#footer .footer-logo img {
  width: 200px !important;
  height: 150px;
}

#footer .footer-contact {
  margin: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dedede;
}

#footer .footer-contact .footer-social p,
#footer .footer-contact .footer-informed p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #00446b;
}

#footer .footer-contact .footer-social .social i {
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  background-color: #007cc0;
  color: #fff;
  margin-right: 15px;
}

#footer .footer-search-field-xs {
  width: 70%;
  margin: 10px auto;
}

#footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  margin: 0 45px;
}

#footer .footer-top .footer-top-items {
  width: 20%;
}

#footer .footer-top .footer-top-items h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #00446b;
  padding-bottom: 15px;
}

#footer .footer-top .footer-top-items li {
  padding-bottom: 15px;
}

#footer .footer-top .footer-top-items li a {
  color: #00446b;
}

#footer .footer-top-xs .links ul .first {
  border-top-color: transparent;
}

#footer .footer-top-xs .links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 30px;
  border-top: 0.15rem solid #eaeaea;
}

#footer .footer-top-xs .links ul li h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #00446b;
}

#footer .footer-top-xs .links ul li i {
  font-size: 1.4rem;
  width: 20px;
  height: 20px;
  color: #007cc0;
  border: 1px solid #007cc0;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

#footer .footer-top-xs .links ul ul.footer-vehicles-list-xs {
  border-bottom: 0.15rem solid #eaeaea;
  padding: 0 20px 15px;
}

#footer .footer-top-xs .links ul ul.footer-vehicles-list-xs li {
  border-color: transparent;
}

#footer .footer-top-xs .links ul ul.footer-vehicles-list-xs li a {
  color: #00446b;
}

#footer .footer-bottom {
  background-color: #007cc0;
  color: white;
  font-weight: 400;
}

#footer .footer-bottom .row {
  margin: 0 !important;
}

#footer .footer-bottom .bottom-text-left {
  padding: 50px;
  letter-spacing: 1px;
}

#footer .footer-bottom .bottom-text-left a {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

#footer .footer-bottom .bottom-text-right {
  padding: 50px;
}

#footer .footer-bottom .bottom-text-right p {
  font-weight: 500;
}

#footer .footer-bottom .bottom-text-right p span {
  margin: 0 5px;
}

#footer .footer-bottom .bottom-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 50px;
}

#footer .footer-bottom .bottom-partner img {
  width: 100px;
  height: 50px;
}

#footer .footer-bottom .bottom-cookie {
  padding: 50px;
}

#footer .footer-bottom .bottom-cookie a {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

#swiper-slider {
  height: 750px;
  margin-top: 60px;
  background-color: #00324f;
}

#swiper-slider .swiper-container {
  height: 500px;
}

#swiper-slider .swiper-container .swiper-wrapper {
  height: 93%;
}

#swiper-slider .swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

#swiper-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #007cc3;
}

#swiper-slider .swiper-button-next,
#swiper-slider .swiper-button-prev {
  top: 45%;
  background-color: #ffffffe6;
  padding: 50px 30px;
  border-radius: 0.9rem;
}

#swiper-slider .swiper-button-prev {
  left: -0.8rem;
}

#swiper-slider .swiper-button-next {
  right: -0.8rem;
}

#swiper-slider .swiper-button-explore {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20%;
  z-index: 9;
}

.intro {
  margin-top: -200px;
}

.intro .intro-container {
  padding: 0 5%;
}

.intro .intro-container .intro-left,
.intro .intro-container .intro-right {
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-clip: content-box;
  margin-bottom: 20px;
}

.intro .intro-container .intro-left {
  background-color: #000;
  background-image: url(../img/our-vehicle-intro-1.jpg);
}

.intro .intro-container .intro-left .intro-left-content {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 10%;
  font-size: 1.4rem;
}

.intro .intro-container .intro-left .intro-left-content h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.intro .intro-container .intro-left .intro-left-content p {
  font-weight: 300;
  margin-bottom: 30px;
}

.intro .intro-container .intro-right {
  background-image: url(../img/our-vehicles-intro-2.jpg);
}

.intro .intro-container .intro-right .intro-right-content {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 1.8rem;
  width: 40%;
}

.intro .intro-container .intro-right .intro-right-content h4 {
  font-weight: bold;
  background: rgba(0, 67, 108, 0.8);
  padding: 6px 15px;
  display: inline-block;
}

.intro .intro-container .intro-right .intro-right-content p {
  font-weight: bold;
  margin-bottom: 30px;
}

#our-vehicles .carousel {
  height: 600px;
}

#our-vehicles .carousel-inner,
#our-vehicles .carousel-item {
  height: 95%;
}

#our-vehicles h1 {
  color: #00324f;
  font-size: 6rem;
  margin: 30px 0 60px 0;
}

#our-vehicles .carousel-control-prev i,
#our-vehicles .carousel-control-next i {
  font-size: 4rem;
  background-color: rgba(0, 67, 108, 0.8);
  padding: 20px 25px;
  border-radius: 0.9rem;
}

#our-vehicles .carousel-indicators-config {
  margin-bottom: 20px;
}

#our-vehicles .carousel-indicators-config li {
  color: #00324f;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 6px 15px;
  border-radius: 4rem;
  cursor: pointer;
}

#our-vehicles .carousel-indicators-config li.active {
  color: #fff;
  background-color: #2198dc;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-vehicles .carousel-indicators-config li.active::before {
  content: "";
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -35px;
  z-index: 9;
}

#our-vehicles .carousel-caption-config {
  width: 30%;
  position: absolute;
  top: 8%;
  left: 6%;
  color: #fff;
  font-size: 1.4rem;
}

#our-vehicles .carousel-caption-config > p {
  font-weight: bold;
}

#our-vehicles .carousel-caption-config > p span {
  font-weight: normal;
}

#our-vehicles .carousel-caption-config img {
  width: 60%;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

#our-vehicles .carousel-caption-config .caption-content {
  font-weight: 300;
  margin-bottom: 30px;
}

#our-vehicles .carousel-caption-config .carousel-caption-detail {
  margin-bottom: 30px;
}

#our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
  font-weight: 300;
  font-size: 4rem;
}

#our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
  font-size: 1.4rem;
  font-weight: bold;
}

#our-vehicles .carousel-caption-footer {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 0.15rem solid #eaeaea;
}

#our-vehicles .carousel-caption-footer a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

#our-vehicles .carousel-indicators-xs {
  width: 60%;
  margin: auto;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

#our-vehicles .carousel-indicators-xs .indicators-xs-header {
  padding: 0 15px;
}

#our-vehicles .carousel-indicators-xs h1 {
  font-size: 1.2rem;
  margin: 5px;
  margin-right: auto;
  color: #007cc3;
  font-weight: 300;
  padding: 15px 0;
}

#our-vehicles .carousel-indicators-xs h1 span {
  font-weight: bold;
  color: #00324f;
}

#our-vehicles .carousel-indicators-xs i {
  font-size: 4rem;
  color: #007cc3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our-vehicles .carousel-indicators-xs ol {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #eaeaea;
  display: none;
}

#our-vehicles .carousel-indicators-xs ol li {
  color: #00324f;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
}

#our-vehicles .function-container {
  padding: 0 6%;
  margin: 100px 0;
}

#our-vehicles .function {
  height: 300px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(8, 29, 42, 0.08);
          box-shadow: 0 5px 10px 0 rgba(8, 29, 42, 0.08);
}

#our-vehicles .function h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px;
  color: #00324f;
}

#our-vehicles .function p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 20px;
  color: #00446a;
  padding: 0 10%;
}

#our-vehicles .function div {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 0;
}

.transform-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.d-fluid {
  max-width: 100%;
}

.pd-col {
  padding: 6px;
}

@media screen and (max-width: 1200px) {
  #our-vehicles .carousel-indicators-config .carousel-indicators {
    width: 80%;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-top {
    width: 40%;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-top p {
    margin-bottom: 45px;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-top .vehicle-value .price p,
  #our-vehicles .our-vehicles-inner .item-content .item-content-top .vehicle-value .rating p {
    font-size: 2.5rem;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-bottom img {
    height: 65px;
    width: 200px;
  }
}

@media screen and (max-width: 1500px) {
  #discover .discover-content .discover-item-inner h3 {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  #discover .discover-content .discover-item-inner p {
    font-size: 1rem;
    line-height: 1.4;
  }
}

#header button.navbar-toggler {
  outline: none;
}

@media screen and (max-width: 1000px) {
  #header .honda-navbar .navbar-content .navbar-nav .nav-item .nav-link {
    font-size: 1.3rem;
  }
  #header .xs-button {
    color: white;
  }
  #header .xs-button::after {
    content: "";
    width: 20px;
    height: 5px;
    background-color: white;
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 28px;
  }
  #header .xs-button::before {
    content: "";
    width: 20px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 18px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #header button.navbar-toggler.rotate .xs-button::after {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    top: 22px;
  }
  #header button.navbar-toggler.rotate .xs-button::before {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    top: 22px;
  }
  #header .lg-marker {
    color: #fff;
    margin-left: auto;
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1000px) {
  #header-menu-lg {
    height: 100vh;
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    z-index: 20;
  }
  #header-menu-lg ul {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  #header-menu-lg ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 45px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #00446b;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    border-bottom: 0.15rem solid #eaeaea;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  #header-menu-lg ul li i {
    font-size: 2.4rem;
  }
  #header-menu-lg ul li .language {
    font-size: 1.4rem;
  }
  #header-menu-lg ul li .language .btn-go,
  #header-menu-lg ul li .language .btn-build {
    padding: 0 15px;
  }
  #header-menu-lg ul li .language button {
    margin-left: 5px;
  }
  #header-menu-lg ul .last-li {
    border-color: transparent;
  }
  #header-menu-lg .footer-search-field {
    width: 60%;
    background-color: #fff;
    margin: 60px auto;
  }
  #header-menu-lg .footer-search-field input {
    padding: 6px 0;
  }
  #header-menu-lg .vehicles-nav-lg {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  #header-menu-lg .header-nav {
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    color: #2b99d9;
    padding: 15px 30px;
  }
  #header-menu-lg .header-nav span {
    display: inline-block;
    text-align: center;
    margin: auto;
  }
  #header-menu-lg .back {
    font-size: 2.2rem;
  }
  #header-menu-lg #vehicles-section-lg .back-vehicle {
    font-size: 2.4rem;
  }
  #header-menu-lg #vehicles-section-lg #vehicles-list-lg {
    height: 100vh;
    padding-bottom: 90px;
  }
  #header-menu-lg #vehicles-section-lg #vehicles-list-lg .vehicles-items {
    min-width: 20%;
    max-width: 28%;
  }
  #header-menu-lg #vehicles-section-lg #vehicles-list-lg .vehicles-items .btn-explore {
    margin-right: 6px;
    width: 100%;
  }
  #header-menu-lg #vehicles-section-lg #vehicles-list-lg .vehicles-items .btn-build {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  #vehicles-section #vehicles-list .vehicles-items .btn-explore,
  #vehicles-section #vehicles-list .vehicles-items .btn-build {
    padding: 3px 15px;
  }
}

@media screen and (max-width: 1050px) {
  #intro .intro-item-1 .intro-item-content {
    width: 90%;
  }
  #intro .intro-item-2 .intro-item-content {
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 60%;
  }
  #intro .intro-item-2 .intro-item-content p {
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
  }
  #intro .intro-item-2 .overlay-intro {
    width: 100%;
    background-color: #06456ac9;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  #our-vehicles h1 {
    font-size: 4.5rem;
  }
  #our-vehicles .carousel-indicators-config .carousel-indicators {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-indicators-config .carousel-indicators {
    width: 80%;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-top {
    width: 49%;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-top p {
    margin-bottom: 45px;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-top .vehicle-value .price p,
  #our-vehicles .our-vehicles-inner .item-content .item-content-top .vehicle-value .rating p {
    font-size: 2.5rem;
    margin-right: 60px;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-bottom {
    border-top-color: transparent;
    width: 60%;
  }
  #our-vehicles .our-vehicles-inner .item-content .item-content-bottom img {
    width: 150px;
  }
}

@media screen and (max-width: 992px) {
  #services {
    padding: 50px 10%;
  }
}

@media screen and (max-width: 992px) {
  #guide {
    padding-bottom: 50px;
  }
  #guide .guide-left {
    margin-bottom: 45px;
  }
  #guide .guide-left-content,
  #guide .guide-right-content {
    width: 80%;
  }
  #guide .guide-left-content p,
  #guide .guide-right-content p {
    font-size: 1.4rem;
    font-weight: normal;
    color: #fff;
  }
  #guide .guide-left-content h3,
  #guide .guide-right-content h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
  }
  #guide .guide-left-content .btn-go,
  #guide .guide-right-content .btn-go {
    padding: 6px 20px;
  }
}

@media screen and (max-width: 1050px) {
  #discover {
    padding: 0 10% 5%;
  }
  #discover .discover-text h1 {
    font-size: 4rem;
  }
  #discover .discover-text p {
    font-size: 1.4rem;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 992px) {
  #footer .footer-logo img {
    width: 120px;
    height: 100px;
  }
  #footer .footer-contact .footer-informed .btn-explore {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
}

@media screen and (max-width: 992px) {
  #navbar a {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 992px) {
  #navbar .nav-item .nav-link {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 992px) {
  #navbar a:first-child {
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  #search-area {
    padding: 15px 6px;
  }
}

@media screen and (max-width: 992px) {
  #search-area input {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  #swiper-slider {
    height: 600px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 992px) {
  #swiper-slider .swiper-container {
    height: 400px;
  }
}

@media screen and (max-width: 992px) {
  #swiper-slider .swiper-container .swiper-wrapper {
    height: 70%;
  }
}

@media screen and (max-width: 992px) {
  .intro .intro-container .intro-right {
    background-image: url(../img/intro-2-xs.jpg);
  }
}

@media screen and (max-width: 992px) {
  .intro .intro-container .intro-right .intro-right-content {
    width: 90%;
    left: 80%;
  }
}

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-caption-config {
    width: 35%;
    margin: auto;
    left: 7%;
    right: 20%;
    text-align: left;
    bottom: unset;
    top: 10%;
    font-size: 1.2rem;
  }
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
    font-size: 2.4rem;
  }
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
    font-size: 1.4rem;
  }
  #our-vehicles .carousel-caption-footer {
    width: 50%;
    border: none;
    bottom: 2%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #our-vehicles .carousel-indicators-config {
    width: 100% !important;
  }
  .carousel-control-prev {
    left: 0rem;
  }
  .carousel-control-prev i {
    font-size: 2.4rem;
    padding: 15px;
  }
  .carousel-control-next {
    right: 0rem;
  }
  #our-vehicles h1 {
    font-size: 4rem;
  }
  #our-vehicles .carousel-indicators-xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 9;
  }
  #our-vehicles .carousel-inner {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  #navbar a {
    padding: 6px 15px;
  }
}

@media screen and (max-width: 768px) {
  #navbar a:first-child {
    padding: 6px 15px;
  }
}

@media screen and (max-width: 767px) {
  #navbar .navbar-collapse {
    border-top: 0.15rem solid #eaeaea;
  }
}

@media screen and (max-width: 768px) {
  #navbar .discover-menu::before {
    content: "";
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 7%;
    right: unset;
    top: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  #search-area-xs:before {
    border-bottom-width: 0;
  }
}

@media screen and (max-width: 768px) {
  #search-area-xs {
    background-color: #007cc3;
    padding: 6px 6px;
  }
}

@media screen and (max-width: 768px) {
  #search-area-xs i {
    color: #fff;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  #search-area-xs input {
    width: 60%;
    height: 2rem;
    border: 2px solid #fff;
    height: 2.5rem;
    border-radius: 5px;
    height: 3.5rem;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 1.4rem;
    color: #fff;
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  #search-area-xs input::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
  #search-area-xs input:-ms-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
  #search-area-xs input::-ms-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
  #search-area-xs input::placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  #swiper-slider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 768) {
  .intro .intro-container .intro-right {
    background-image: url(../img/our-vehicles-intro-2.jpg);
  }
}

@media screen and (max-width: 768px) {
  .intro .intro-container .intro-right .intro-right-content {
    width: 40%;
    left: 5%;
  }
}

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-caption-config {
    width: 60%;
    left: 20%;
    right: 20%;
    text-align: center;
    bottom: 0;
    top: unset;
    font-size: 1.2rem;
  }
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
    font-size: 2.4rem;
  }
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
    font-size: 1.4rem;
  }
  #our-vehicles .carousel-caption-footer {
    width: 100%;
    border: none;
    bottom: 2%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .carousel-control-prev {
    left: 0rem;
  }
  .carousel-control-prev i {
    font-size: 2.4rem;
    padding: 15px;
  }
  .carousel-control-next {
    right: 0rem;
  }
  #our-vehicles h1 {
    font-size: 4rem;
  }
  #our-vehicles .carousel-indicators-xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 9;
  }
  #our-vehicles .carousel-inner {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  #navbar a {
    padding: 6px 15px;
  }
}

@media screen and (max-width: 576px) {
  #navbar a:first-child {
    padding: 6px 15px;
  }
}

@media screen and (max-width: 576px) {
  #navbar .navbar-collapse {
    border-top: 0.15rem solid #eaeaea;
  }
}

@media screen and (max-width: 576px) {
  #navbar .discover-menu::before {
    content: "";
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 7%;
    right: unset;
    top: 4.5rem;
  }
}

@media screen and (max-width: 576px) {
  #search-area-xs:before {
    border-bottom-width: 0;
  }
}

@media screen and (max-width: 576px) {
  #search-area-xs {
    background-color: #007cc3;
    padding: 6px 6px;
  }
}

@media screen and (max-width: 576px) {
  #search-area-xs i {
    color: #fff;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 576px) {
  #search-area-xs input {
    width: 60%;
    height: 2rem;
    border: 2px solid #fff;
    height: 2.5rem;
    border-radius: 5px;
    height: 3.5rem;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 1.4rem;
    color: #fff;
    background-color: transparent;
  }
}

@media screen and (max-width: 576px) {
  #search-area-xs input::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
  #search-area-xs input:-ms-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
  #search-area-xs input::-ms-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
  #search-area-xs input::placeholder {
    font-size: 1.4rem;
    color: #fff;
  }
}

@media screen and (max-width: 576px) {
  .container--config {
    padding: 0 15%;
  }
}

@media screen and (max-width: 576px) {
  #vehicles #vehicle-content .vehicle-nav ul li {
    display: inline-block;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  #vehicles #vehicle-content .vehicle-nav ul li a {
    padding: 6px 15px;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  #swiper-slider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-caption-config {
    width: 60%;
    left: 20%;
    right: 20%;
    text-align: center;
    bottom: 0;
    top: unset;
    font-size: 1.2rem;
  }
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
    font-size: 2.4rem;
  }
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
    font-size: 1.4rem;
  }
  #our-vehicles .carousel-caption-footer {
    width: 100%;
    border: none;
    bottom: 2%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .carousel-control-prev {
    left: 0rem;
  }
  .carousel-control-prev i {
    font-size: 2.4rem;
    padding: 15px;
  }
  .carousel-control-next {
    right: 0rem;
  }
  #our-vehicles h1 {
    font-size: 4rem;
  }
  #our-vehicles .carousel-indicators-xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 9;
  }
  #our-vehicles .carousel-inner {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */